<form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
    <div>
        <h3>User Login</h3>
    </div>
    <div>
      <label for="username">Username:</label>
      <input type="text" id="username" formControlName="username">
    </div>
    <div>
      <label for="password">Password:</label>
      <input type="password" id="password" formControlName="password">
    </div>
    <button type="submit">Login</button>
    <div>
        <p>Don't have an account? <a [routerLink]="['/signup']">Signup</a></p>
    </div>
  </form>
  <div *ngIf="loginError" class="error-message">
    {{ loginError }}
  </div>